################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/TournamentTracker/.vs/TournamentTracker/v15/Server/sqlite3

/TournamentTracker/TrackerLibrary/obj/Release/TrackerLibrary.csprojAssemblyReference.cache
/TournamentTracker/TrackerLibrary/obj/Release/TrackerLibrary.pdb
/TournamentTracker/TrackerLibrary/obj/Release/TrackerLibrary.dll
/TournamentTracker/TrackerLibrary/obj/Release/TrackerLibrary.csproj.FileListAbsolute.txt
/TournamentTracker/TrackerLibrary/obj/Release/TrackerLibrary.csproj.CoreCompileInputs.cache
/TournamentTracker/TrackerLibrary/obj/Release/TrackerLibrary.csproj.CopyComplete
/TournamentTracker/TrackerLibrary/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TournamentTracker/TrackerLibrary/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TournamentTracker/TrackerLibrary/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
